<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.train_shadowlinedemo">
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="com.android.launcher.permission.READ_SETTINGS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- 这个权限用于进行网络定位-->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <!-- 这个权限用于访问GPS定位-->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <!-- 获取运营商信息，用于支持提供运营商信息相关的接口-->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <!-- 用于读取手机当前的状态-->
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>

    <application
        android:name=".ShadowLineApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Train_ShadowLineDemo">
        android:theme="@style/Theme.Train_ShadowLineDemo"
        android:usesCleartextTraffic="true">
        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="UGreORh3iebNAtlF94fhfv6smUTWNmaw" />
        <service
            android:name="com.baidu.location.f"
            android:enabled="true"
            android:process=":remote"
            >
            <intent-filter>
                <action android:name="com.baidu.location.service_v5.0.0"/>
            </intent-filter>
        </service>

        <activity android:name=".activity.MovieTypeActivity"></activity>
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.MovieDetailActivity"
            android:theme="@style/AppTheme"/>
        <activity android:name=".activity.SearchActivity"/>
        <activity android:name=".activity.RegisterActivity"/>
        <activity android:name=".activity.LoginActivity"/>
       <activity android:name=".fragment.ShareChildrenFragment.EditDynamicActivity"/>
        <provider
            android:authorities="com.example.train_shadowlinedemo.fragment.ShareChildrenFragment.MyFileProvider"
            android:name="com.example.train_shadowlinedemo.fragment.ShareChildrenFragment.MyFileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/filepaths" />

        </provider>
    </application>

</manifest>